.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
.top-section{
  padding: 4rem 0;
}
.section {
  border-top: 1px solid var(--light-grey);
  padding: 4rem 0;
}

.code-example {
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 1rem;
  color:var(--grey);
  overflow-x: auto;
}
button,input,a{
  margin-bottom:1rem;
}