@import "./variables.css";
@import "./theme.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import "./presentation.css";
html {
  font-size: 16px;
}

body {
  font-family: "Ubuntu", serif;
  line-height: 1.65;
  font-style: normal;
  color:var(--grey);
}

p {
  font-size: var(--text-size-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  line-height: 1.15;
  margin: 0;
}

h1 {
  font-family: "Ubuntu", serif;
  margin-top: 0;
  font-size: var(--text-size-4xl);
}

h2 {
  font-size: var(--text-size-3xl);
}

h3 {
  font-size: var(--text-size-2xl);
}

h4 {
  font-size: var(--text-size-xl);
}

h5,h6 {
  font-size: var(--text-size-lg);
}

/* button */
button,
a.button,
input[type="submit"],
input[type="button"] {
  height: 38px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--light-grey-2);
  background: transparent;
  color: var(--grey);
  padding: 0 1.5rem;
  border-radius: 5px;
  font-size: var(--text-size-sm);
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  &:hover {
    cursor: pointer;
    border-color: var(--grey);
  }
}

button.primary,
input[type="submit"].primary,
input[type="button"].primary {
  background: var(--blue);
  color: var(--white);
  border-color: var(--blue);
  &:hover {
    opacity: 0.9;
    border-color: var(--blue);
  }
}
button.danger,
a.button.danger {
  background: var(--red);
  color: var(--white);
  border-color: var(--red);
  &:hover {
    opacity: 0.9;
    border-color: var(--red);
  }
}

/* forms */
.field{
  display:flex;
  flex-direction: column;
}
label{
  margin-bottom: 0.5rem;
  font-weight: 600;
}
input{
  border: 1px solid var(--light-grey-2);
  border-radius: 5px;
  padding:0.5rem;
  outline:none;
  color:var(--grey);
  font-family: "Ubuntu", serif;
  font-size: var(--text-size-md); 
}
input:focus{
  border-color:var(--grey);
  transition: border-color 0.3s;
}
/* blockquote */
blockquote:before {                                     
  content: open-quote;
  position: absolute;
  left:1rem;
  font-size: var(--text-size-md);
}
blockquote{
  margin:0;
  padding:0.2rem 0.2rem 0.2rem 2rem;
  border-left:1px solid var(--light-grey-2);
  background:var(--white);
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  position:relative;
}