.container-docs {
  padding: 0 1rem;
}
.top-section {
  padding: 10rem 0;
}
.section {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.code-example {
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 1rem;
  color: var(--grey);
  overflow-x: auto;

  tab-size: 2;
  color: var(--text-color);
  border: var(--border-color);
}
code {
  font-family: "Ubuntu", serif;
}
.separator-container {
  height: 200px;
}

.router-link-exact-active {
  color: var(--violet);
}
@media screen and (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
.display-mobile {
  display: block;
}
.display-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .display-mobile {
    display: none;
  }
  .display-desktop {
    display: block;
  }
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.gap-4 {
  gap: 0.5rem;
}
.grid {
  display: grid;
}
.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.p-4 {
  padding: 1rem;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.col{
  background: var(--bg-blockquote);
}